<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLink="/trail">Trail</a>
      <a class="nav-item nav-link" routerLink="/trail1">Trail1</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-md-6 offset-md-3">
              <app-alert></app-alert>
              <div [@routeAnimations]="prepareRoute(outlet)" >
                  <router-outlet #outlet="outlet"></router-outlet>
                </div>
          </div>
      </div>
  </div>
</div>